<configuration scan="true">
  <property resource="application.properties"/>

  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SPRING">
    <file>${log.file.directory}-spring.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-spring.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="APP">
    <file>${log.file.directory}-app.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-app.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="LIBRARIES">
    <file>${log.file.directory}-libraries.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-libraries.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="OUTBOUND_IMPL">
    <file>${log.file.directory}-outbound-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-outbound-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="SERVICE_IMPL">
    <file>${log.file.directory}-service-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-service-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="BATCH_IMPL">
    <file>${log.file.directory}-batch-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-batch-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="INBOUND_IMPL">
    <file>${log.file.directory}-inbound-impl.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-inbound-impl.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
        class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="REST_WEB">
    <file>${log.file.directory}-rest-web.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--rollover daily-->
      <fileNamePattern>${log.file.directory}.%d{yyyy-MM-dd}.%i-rest-web.log</fileNamePattern>
      <timeBasedFileNamingAndTriggeringPolicy
              class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <!-- or whenever the file size reaches 400MB -->
        <maxFileSize>400MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
    </rollingPolicy>
    <encoder>
      <pattern>[%level] [%date{YYYY-MM-dd HH:mm:ss:SSS}] [%thread] [%logger{10}:%line] : %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="APP"/>
  </root>

  <logger additivity="false" level="ERROR" name="org.springframework">
    <appender-ref ref="SPRING"/>
  </logger>

  <logger additivity="false" level="ERROR" name="com.tiket.tix.project.libraries">
    <appender-ref ref="LIBRARIES"/>
  </logger>

  <logger additivity="false" level="INFO" name="com.tiket.tix.project.outbound.impl">
    <appender-ref ref="OUTBOUND_IMPL"/>
  </logger>

  <logger additivity="false" level="ERROR" name="com.tiket.tix.project.outbound.impl.messagelog.MessageLogOutboundServiceImpl">
    <appender-ref ref="OUTBOUND_IMPL"/>
  </logger>

  <logger additivity="false" level="ERROR" name="com.tiket.tix.project.service.impl">
    <appender-ref ref="SERVICE_IMPL"/>
  </logger>

  <logger additivity="false" level="INFO" name="com.tiket.tix.project.batch.impl">
    <appender-ref ref="BATCH_IMPL"/>
  </logger>

  <logger additivity="false" level="INFO" name="com.tiket.tix.project.inbound.impl">
    <appender-ref ref="INBOUND_IMPL"/>
  </logger>

  <logger additivity="false" level="ERROR" name="com.tiket.tix.project.inbound.impl.messagelog.MessageLogInboundServiceImpl">
    <appender-ref ref="INBOUND_IMPL"/>
  </logger>

  <logger additivity="false" level="INFO" name="com.tiket.tix.project.rest.web">
    <appender-ref ref="REST_WEB"/>
  </logger>
</configuration>